{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %} 
{% block title %} Inputs Answer Form {% endblock %}
{% block content %}
<!-- a view of companies-->

<br>
<br>
<div class="container">
    <div class="row">
        <div class="row-md-12  col-md-offset-2">
            <h1>Companies</h1>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>User</th>
                    <th>Size</th>
                    <th>Head Count</th>
                    <th>Assigned Consultant</th>
                    <th>Status</th>
                    
                </tr>
                {% for company in companies %}
                <tr>
                    <th><img src="{{ company.logo.url }}" class="rounded-t-xl" height=80 width=140></th>
                    <th>{{ company.id }}</th>
                    <th>{{ company.name }}</th>	
                    <th>{{ company.user.name }}</th>	
                    <th>{{ company.size }}</th>	
                    <th>{{ company.employees }}</th> 
                    <th>{{ company.consultant.username }}</th> 
                    <th>{{ company.status }}</th>


                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><a class="btn btn-secondary" style="height:40px;width:150px" href="{% url 'Company Profile' company.id %}">Company Profile</a></th>
                        <th><a class="btn btn-secondary" style="height:40px;width:100px" href="{% url 'Update Company' company.id %}">Edit</a></th>
                        <th><a class="btn btn-primary" style="height:40px;width:100px" href="{% url 'fill_inputs_form_with_pk' company.id %}">Client Input</a></th>
                        <th><a class="btn btn-primary" style="height:40px;width:100px" href="{% url 'fill_evaluation_form_with_pk' company.id %}">Evaluation</a></th>
                        <th><a class="btn btn-primary" style="height:40px;width:150px" href="">Action Plan</a></th>
                        <th><a class="btn btn-primary" style="height:40px;width:150px" href="">KPIs</a></th>

                    </tr>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}