{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %} 
{% block title %} Inputs Answer Form {% endblock %}
{% block content %}
<!-- a view of companies-->

<br>
<br>
<div class="container">
    <div class="row">
        <div class="row-md-12  col-md-offset-2">
            <h1>Companies</h1>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>User</th>
                    <th>Size</th>
                    <th>Head Count</th>
                    <th>Consultant</th>
                    <th>Status</th>
                    
                </tr>
                {% for company in companies %}
                <tr onclick="window.location='{% url 'Company Profile' company.id %}';" style="cursor: pointer;">
                    <th><img src="{{ company.logo.url }}" class="rounded-t-xl" height=80 width=140></th>
                    <th>{{ company.id }}</th>
                    <th>{{ company.name }}</th>	
                    <th>{{ company.user.name }}</th>	
                    <th>{{ company.size }}</th>	
                    <th>{{ company.employees }}</th> 
                    <th>{{ company.consultant.username }}</th> 
                    <th><i class="fa fa-toggle-on" aria-hidden="true"></i></th>
                    <th><a class="fa fa-plus" title="Client Input"  href="{% url 'fill_inputs_form' company.id %}"></a></th>
                    <th><a class="fa fa-star-half-o" title="Evaluation" href="{% url 'fill_evaluation_form_with_pk' company.id %}"></a></th>
                    <th><a class="fa fa-list-ol" title="Action Plan"  href=""></a></th>
                    <th><a class="fa fa-tasks" title="KPIs Tracker" href=""></a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}